* {
	font-family: "Hammersmith One";
	font-weight: 300;
	box-model: border-box;
}

html {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h3 a {
	font-family: "Audiowide";
	font-weight: bold;
	color: white;
}

body {
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px;
	background: #1a1a1a;
	color: #efefef;
	background-image: url("../img/banner.png");
	background-size: cover;
        background-position: center;
	height: 100%;
}

img {
	max-width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid white;
	border-radius: 2px;
	background-color: white;
}

p {
	color: #333333;

}

blockquote p {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 1.2em;
}

pre {
	margin-left: 4%;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	background-color: rgba(255, 255, 255, 0.9);
	padding: 0.5em;
	color: black;
	border-radius: 2px;
}

code, code * {
	font-family: "Source Code Pro", monospace;
	font-weight: 500;
}

span.logo {
	color: #f60;
	text-decoration: none;
}

a {
  color: #f60;
}

a:hover {
	text-decoration: underline;
}

body {
	max-width: 95%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#top a:hover {
	text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333, 0px 0px 20px #fff;
	text-decoration: none;
}

#top p {
	margin: 0px;
	padding: 0px;
}

#bottom {
  position: absolute;
  bottom: 1.5em;
  width: 100%;
}

.fa-github.icon {
  margin-top: 1em;
}

#main {
	background-color: rgba(255, 255, 255, 0.1);
	padding: 0.5em 1em;
	border: 1px solid #666;
	margin-top: 2em;
	padding-top: 1em;
}

.icon {
  font-size: 2em !important;
}

#logo {
	margin: 0px;
	border: 0px solid black;
}

#logo-container {
	font-size: 2.5em;
}

#logo-container a {
}

#logo-container .logo-icon {
	font-family: infinitelivesLogo;
	display: block;
	margin-left: -0.1em;
}

#logo-container #logotext {
	color: white;
	font-family: "Audiowide";
	font-size: 1.5em;
}

div#menu {
	margin-right: 1em;
	margin-top: 0px;
	margin-left: 1em;
	text-align: center;
}

div#menu a {
}

div#menu a {
	font-size: 1.2em;
	margin: 0px 1em;
}

div#menu a:hover {
  color: #333;
}

/*** signup form styling ***/

.tinysignup input, .tinysignup button {
  border: 2px solid #aaa;
  background: none;
  padding: 1em;
  border-radius: 5px;
}

.tinysignup button {
  width: 7em;
  background-color: #6f0;
  border-color: #6f0;
  margin-left: 0.5em;
  cursor: pointer;
}

.tinysignup .message.top {
  color: #f60;
  padding: 1em;
  margin: 0px;
  font-size: 2em;
}

.tinysignup .message {
  color: #333;
}

.tinysignup .spinner {
  width: 40px;
  height: 40px;
  background-color: #6f0;
  border-radius: 5px;

  margin: 40px auto;
  -webkit-animation: tinysignup-rotateplane 1.2s infinite ease-in-out;
  animation: tinysignup-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes tinysignup-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes tinysignup-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/*** phones and stuff ***/

@media only screen and (max-device-width: 480px) {
  #logo-container {
    font-size: 1.5em;
  }

  .tinysignup input {
    max-width: 80%;
    margin: 0px;
    margin: 1em auto;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .tinysignup button {
    margin: 1em auto;
    max-width: 20%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

