* {
	font-family: "Hammersmith One";
	font-weight: 300;
}

h1, h2, h3, h3 a {
	font-family: "Audiowide";
	font-weight: bold;
}

body {
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px;
	padding-top: 0.5em;
	background: #1a1a1a;
	color: #efefef;
	background-image: url("../img/debut_dark.png");
}

img {
	max-width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid white;
	border-radius: 2px;
	background-color: white;
}

p {
	margin-left: 2%;
	color: #e0e0e0;
}

blockquote p {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 1.2em;
}

pre {
	margin-left: 4%;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	background-color: rgba(255, 255, 255, 0.9);
	padding: 0.5em;
	color: black;
	border-radius: 2px;
}

code, code * {
	font-family: "Source Code Pro", monospace;
	font-weight: 500;
}

a {
	color: #f60;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#top {
	max-width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4em;
	text-align: center;
}

#top a:hover {
	text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333, 0px 0px 20px #fff;
	text-decoration: none;
}

#top p {
	margin-top: 2em;
}

#main {
	background-color: rgba(255, 255, 255, 0.1);
	padding: 0.5em 1em;
	border: 1px solid #666;
	margin-top: 2em;
	padding-top: 1em;
}

#logo {
	margin: 0px;
	border: 0px solid black;
}

#logo-container {
	font-size: 2.5em;
}

#logo-container a {
}

#logo-container .logo-icon {
	font-family: infinitelivesLogo;
	font-size: 2em;
	text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333, 0px 0px 10px #f84;
	margin-right: 0.1em;
}

#logo-container #logotext {
	color: white;
	font-family: "Audiowide";
}

#main.blog h3 {
	border-bottom: 1px solid #555;
}

#main.blog .date {
	float:right;
}

span#demos {
	display: block;
	width: 100%;
	text-align: center;
}

span#demos a:hover img {
	border: 1px solid #f60;
}

span#demos a img {
	display: inline;
}

div#examplesmenu {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

iframe.demo {
	border: 1px solid white;
	margin-left: auto;
	margin-right: auto;
	max-height: 600px;
	max-width: 800px;
	width: 100%;
	height: 100%;
	min-height: 400px;
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	border-radius: 2px;
	background-color: white;
}

div#menu {
	margin-right: 1em;
	margin-top: 1em;
	margin-left: 1em;
	text-align: center;
}

div#menu a {
}

div#menu a {
	font-size: 1.2em;
}

div#version {
	float: right;
}

div#download {
	font-size: 1.5em;
	text-align: right;
}

div#download a {
	font-family: "Audiowide";
}

a#download-link {
}

a#download-link:hover {

}
